html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: Bungee-Shade;
    src: url(fuentes/BungeeShade-Regular.ttf);
  }
  
  @font-face {
    font-family: raleway;
    src: url(fuentes/Raleway-Regular.ttf);
  }
  
  @font-face {
    font-family: pacifico;
    src: url(fuentes/pacifico/Pacifico.ttf);
  }

/*-------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: raleway;
    line-height: 1.5;
    background-image: linear-gradient(45deg, #243949 10%, #517fa4 100%);
    background-size: 400% 400%;
    position: relative;
    color: white;
    animation: change 10s ease-in-out infinite;
  }

  @keyframes change {
      0%{background-position: 0 50%;}
      50%{background-position: 100% 50%;}
      100%{background-position: 0 50%;}
  }
  
  h1 {
    text-align: center;
    color: darkslategrey;
    font-family: pacifico;
    transition: color 500ms;
  }

  .logo{
      width: 110px;
      height: 140px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    transition: background-color 500ms;
  }
  
  .search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  form {
    display: flex;
    width: 100%;
    border-radius: 10px;
  }
  
  input {
    padding: 15px 10px;
    outline: none;
    width: 90%;
    border-left: 2px solid #243949;
    border-right: 0px solid #243949;
    border-top: 2px solid #243949;
    border-bottom: 2px solid #243949;
    border-radius: 10px 0px 0px 10px;
  }

  i{
    color: black;
    transition: all 500ms;
  }
  
  .li-container {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
  }
  
  ul {
    padding: 0;
    overflow-y: scroll;
    transition: background-color 500ms;
  }

  ul::-webkit-scrollbar{
    width: 5px;
  }

  ul::-webkit-scrollbar-thumb{
    background-color: #a4a4a4;
    border-radius: 5px;
  }
  
  li {
    width: 100%;
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;

    animation: zoomIn;
    animation-duration: 300ms;
  }
  
  li p {
    margin: 0;
    padding: 15px;
    width: 90%;
    overflow: auto;
  }

  li p::-webkit-scrollbar{
    height: 6px;
  }

  li p::-webkit-scrollbar-thumb{
    background-color: #a4a4a4;
    border-radius: 5px;
  }
  
  .btndelete {
    display: flex;
    border: none;
    background-color: #24394900;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    align-items: center;
    transition: background-color 500ms;
    width: 40px;
  }
  
  .btndelete:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
  }
  
  .btnadd {
    padding: 5px 5px;
    border-left: 2px transparent;
    border-right: 2px solid #243949;
    border-top: 2px solid #243949;
    border-bottom: 2px solid #243949;
    font-family: fantasy;
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 0px 10px 10px 0px;
    transition: background-color 500ms;
  }
  
  .btnadd:hover {
    cursor: pointer;
    background-color: rgb(0, 183, 255);
  }
  
  .empty {
    color: darkslategrey;
    text-align: center;
    animation: fadeIn;
    animation-duration: 1s;
    transition: color 500ms;
  }

.error{
  background-color: lightgray;
  width: 96%;
  color: rgb(191, 33, 33);
  padding: 12px;
  border-radius: 10px;
}

  @media screen and (max-width: 550px){
      .container{
          width: 70%;
      }
  }